<p>Removals are currently limited to attempting the quiz activity. I think this needs more explanation</p>
<table class="table">
    <thead>
        <tr>
            <th>Quiz name</th>
            <th>Items removed</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="block-stash-removal-body">
        {{#removals}}
            {{>block_stash/local/removal/table_row}}
        {{/removals}}
    </tbody>
</table>
