<tr>
    <td>{{cmname}}</td>
    <td>
        <ul>
            {{#items}}
            <li>{{name}} ({{quantity}})</li>
            {{/items}}
        </ul>
    </td>
    <td>
        <button class="btn btn-secondary" data-courseid="{{courseid}}" data-id="{{removalid}}">Edit</button>
        <a href="#" class="block-stash-removal-icon" data-id="{{removalid}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </td>
</tr>
