<tr>
    <td>{{cmname}}</td>
    <td>
        <ul>
            {{#items}}
            <li>{{name}} ({{quantity}})</li>
            {{/items}}
        </ul>
    </td>
    <td>
        <button class="btn btn-secondary block-stash-removal-edit" data-courseid="{{courseid}}" data-id="{{removalid}}" data-quiz="{{cmid}}" data-json="{{editinfo}}"><i class="fa fa-edit" aria-hidden="true"></i></button>
        <button class="btn btn-secondary block-stash-removal-icon" data-id="{{removalid}}"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
</tr>
