<div class="block-stash-item-adder" style="width: 100%;" data-course-id={{courseid}}>
    <div class="block-stash-will-do-for-now">
        <table class="block_stash_item_box table" data-type="gain">
            {{>block_stash/local/trade/item_table_data}}
        </table>
    </div>
</div>
