<div class="block-stash-item-adder" data-course-id={{courseid}}>
    <div class="block-stash-will-do-for-now">
        <table class="block_stash_item_box table" data-type="gain">
            <thead class="thead-light">
                <tr>
                    <th style="width: 70%;">{{#str}}items, block_stash{{/str}}</th>
                    <th colspan="2" class="">

                        <div class="dropdown-container d-flex">
                            <div class="btn btn-secondary dropdown-button noselect item-adder-add">
                                <!-- <div class="dropdown-label">Items</div> -->
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="dropdown-list dropdown-menu wide show" style="display: none; position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <input type="search" placeholder="Search items" class="form-control withclear rounded dropdown-search"/>
                                <ul>
                                </ul>
                            </div>
                        </div>


                    </th>
                </tr>
            </thead>
            <tbody>
            {{#additems}}
                {{>block_stash/trade_add_item_detail}}
            {{/additems}}
            </tbody>
        </table>
    </div>
</div>
{{#js}}
require(["block_stash/local/trade_adder/main"], function(TradeAdder) {
    TradeAdder.init();
});
{{/js}}
