{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Main content for the block Stash

    Classes required for JS:
    * -

    Data attributes required for JS:
    * -

    Context variables required for this template:
    * -
}}

<div id="stash-area-{{id}}" data-id="{{id}}">
{{#canacquireitems}}
    <ul class="nav nav-tabs" id="itemTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="all-tab" data-toggle="tab" data-target="#allitems" type="button" role="tab" aria-controls="allitems" aria-selected="true">{{#str}}all, block_stash{{/str}}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="collections-tab" data-toggle="tab" data-target="#collections" type="button" role="tab" aria-controls="collections" aria-selected="false">{{#str}}collections, block_stash{{/str}}</button>
        </li>
    </ul>
    <div class="item-list tab-content" id="block-stash-tabContent">
        <div class="tab-pane fade show active mt-2" id="allitems" role="tabpanel" aria-labelledby="all-tab">
            {{#items}}
                {{>block_stash/user_item}}
            {{/items}}
            {{^items}}
                <div class="empty-content alert alert-info">{{#str}}yourinventoryisempty, block_stash{{/str}}</div>
            {{/items}}
        </div>

        <div class="tab-pane fade" id="collections" role="tabpanel" aria-labelledby="collections-tab">
        {{^items}}
            <div class="empty-content alert alert-info">{{#str}}yourinventoryisempty, block_stash{{/str}}</div>
        {{/items}}
        {{#collections}}
            <fieldset class="block-stash-collections mb-1 p-2" {{#completed}} style="border-color: #088208; color: #088208;" {{/completed}}>
                <legend class="block-stash-collection-legend p-1">{{collection}}</legend>
                {{#items}}
                    {{>block_stash/user_item}}
                {{/items}}
            </fieldset>
        {{/collections}}
        </div>
    </div>
{{/canacquireitems}}

{{#canmanage}}
    <nav>
        <a href="{{reporturl}}" class="nav-button">
            <div>{{#pix}}i/report{{/pix}}</div>
            <div>{{#str}}report, block_stash{{/str}}</div>
        </a>
        <a href="{{inventoryurl}}" class="nav-button">
            <div>{{#pix}}i/settings{{/pix}}</div>
            <div>{{#str}}setup, block_stash{{/str}}</div>
        </a>
    </nav>
{{/canmanage}}
{{#canswap}}
<nav>
    <a href="{{tradecenterurl}}" class="nav-button">
        <div>{{#pix}}i/emojicategoryactivities{{/pix}}</div>
        <div>{{#str}}tradecenter, block_stash{{/str}}</div>
    </a>
    <a href="{{offersurl}}" class="nav-button position-relative">
        {{#swapcount}}
            <span class="position-absolute top-0 translate middle badge rounded-pill bg-danger">{{swapcount}}</span>
        {{/swapcount}}
        <div>{{#pix}}i/email{{/pix}}</div>
        <div>{{#str}}offers, block_stash{{/str}}</div>
    </a>
</nav>
{{/canswap}}
</div>
{{#leaderboards_enabled}}
    <hr>
    <h5>{{#str}}leaderboards, block_stash{{/str}}</h5>
    {{> block_stash/local/leaderboard_settings/carousel}}
{{/leaderboards_enabled}}

{{#js}}
require([
    'jquery',
    'block_stash/stash-area'
], function($, StashArea) {
    var Area = new StashArea('#stash-area-{{id}}');
});
{{/js}}
